body {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

body::-webkit-scrollbar {
    width: 0px !important;
}

canvas {
    position: fixed;
    top: 0;
    width: 100%;
    height: calc(var(--vc) * 100);
    cursor: pointer;
    z-index: 0;
}

/*Test*/
.test {
    width: 28%;
    max-height: calc(var(--vc) * 75);
    min-width: calc(var(--vc) * 45);
    max-width: calc(var(--vc) * 60);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    border-radius: calc(var(--vc) * .75);
    z-index: 3;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    opacity: 0;
    margin: auto;
    margin-top: calc(var(--vc) * 9);
    transition: 0.3s;
    overflow-y: scroll;
}

.test .title {
    text-align: center;
    font-size: calc(var(--vc) * 5);
    color: #fff;
    font-family: "Lato";
    margin-top: calc(var(--vc) * 3); 
}

.test img {
    margin: auto;
    border-radius: calc(var(--vc) * .5);
    width: calc(var(--vc) * 41);
    margin-top: calc(var(--vc) * 3); 
    display: block;
}

/*Password*/
.pass-wrap {
    transition: 0.3s;
    position: relative;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 95vh;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.pass-wrap i {
    font-size: calc(var(--vc) * 3) !important;
    color: #fff;
    position: absolute;
    margin-top: calc(var(--vc) * -14);
    background: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(7px);
    padding: calc(var(--vc) * 1.4) calc(var(--vc) * 1.7);
    border-radius: calc(var(--vc) * 3);
}

.pass-wrap #pass {
    width: calc(var(--vc) * 25);
    border: 0;
    border-radius: calc(var(--vc) * .25);
    height: calc(var(--vc) * 3.5);
    font-size: calc(var(--vc) * 1.7);
    padding: calc(var(--vc) * .15) calc(var(--vc) * 1.5);
    /* transition: 0.3s; */
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
}

::-webkit-input-placeholder {
    color: (255, 255, 255, 0);
    font-family: "Lato";
}

.pass-wrap #pass:focus {
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
}

.foot-wrap {
    z-index: 10;
    position: fixed;
    bottom: 0;
}