body {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

canvas {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 0;
}

/*Test*/
.test {
    width: 28%;
    max-height: 75vh;
    min-width: 45vh;
    max-width: 60vh;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    border-radius: 0.75vh;
    z-index: 3;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    opacity: 0;
    margin: auto;
    margin-top: 9vh;
    transition: 0.3s;
    overflow-y: scroll;
}

.test .title {
    text-align: center;
    font-size: 5vh;
    color: #fff;
    font-family: "Lato";
    margin-top: 3vh; 
}

.test img {
    margin: auto;
    border-radius: 0.5vh;
    width: 41vh;
    margin-top: 3vh; 
    display: block;
}

/*Password*/
.pass-wrap {
    transition: 0.3s;
    position: relative;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 95vh;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.pass-wrap i {
    font-size: 3vh !important;
    color: #fff;
    position: absolute;
    margin-top: -14vh;
    background: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(7px);
    padding:  1.4vh 1.7vh;
    border-radius: 3vh;
}

.pass-wrap #pass {
    width: 25vh;
    border: 0;
    border-radius: 0.25vh;
    height: 3.5vh;
    font-size: 1.7vh;
    padding: .15vh 1.5vh;
    /* transition: 0.3s; */
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
}

::-webkit-input-placeholder {
    color: (255, 255, 255, 0);
    font-family: "Lato";
}

.pass-wrap #pass:focus {
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
}

.foot-wrap {
    z-index: 10;
    position: fixed;
    bottom: 0;
}