body {
    background: #fff;
}

/*faqs*/
.faqs {
    padding-top: 8vh;
    padding-bottom: 5vh;
}

.faqs .title {
    color: #000;
    text-align: center;
    font-size: 3vh;
    font-weight: 100;
}

.faqs .row {
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
}

.faqs .row>div {
    height: auto;
    margin: 2vh 1%;
    min-width: 35vh;
    width: 25%;
}

.faqs .label {
    font-size: 1.8vh;
    display: inline-block;
    color: #1B98E0;
    font-family: 'Metropolis';
    font-weight: 100;
}

.faqs .desc {
    margin-top: 0.75vh;
    font-size: 1.6vh;
}

/*footer*/
.foot-wrap {
    margin-top: 30vh;
    background-color: #000;
}