body {
    background: #fff;
}

.hr-wrap {
    padding-top: calc(var(--vc) * 4);
    padding-bottom: calc(var(--vc) * 4);
    background: #fff;
}

.title {
    color: #000;
    text-align: center;
    font-size: calc(var(--vc) * 3);
    font-weight: 100;
    width: 80%;
    margin: auto;
}

/*back*/
canvas {
    position: fixed;
    width: 100%;
    height: calc(var(--vc) * 100);
    top: 0;
    left: 0;
    z-index: -1;
}

/*landing*/
.landing {
    margin-top: calc(var(--vc) * -4.25);
    height: calc(var(--vc) * 70);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
}

.landing p.label {
    color: #fff;
    font-size: calc(var(--vc) * 7);
    text-align: center;
    font-family: "Lato";
}

.landing p.desc {
    color: #fff;
    font-size: calc(var(--vc) * 2);
    text-align: center;
    line-height: calc(var(--vc) * 3);
    margin-top: calc(var(--vc) * 2);
    width: 20%;
    font-family: "Lato";
    min-width: calc(var(--vc) * 35);
}

.landing a {
    background: #1B98E0;
    padding: calc(var(--vc) * 1) calc(var(--vc) * 2);
    margin-top: calc(var(--vc) * 3);
    border-radius: calc(var(--vc) * 0.25);
    font-size: calc(var(--vc) * 2);
    color: #fff;
}

/*info*/
.info {
    padding: calc(var(--vc) * 6) 7% calc(var(--vc) * 4);
    background: #fff;
}

.info .row div {
    width: 30%;
    margin: 0vh 3% calc(var(--vc) * 2);
    min-width: calc(var(--vc) * 40);
    /* max-width: 75vh; */
}

.info .row.long div {
    width: 66%;
    /* max-width: calc(150vh + 4%); */
}

.info p.label {
    font-size: calc(var(--vc) * 2.2);
    width: 100%;
    text-align: center;
    color: #1B98E0;
    margin-top: calc(var(--vc) * 2);
    margin-bottom: calc(var(--vc) * 1);
}

.info p.desc {
    font-size: calc(var(--vc) * 1.8);
    margin-bottom: calc(var(--vc) * 1);
    line-height: calc(var(--vc) * 3);
    width: 100%;
}

/*prizes*/
.prizes {
    padding-top: calc(var(--vc) * 2);
    padding-bottom: calc(var(--vc) * 2);
    width: 28%;
    min-width: calc(var(--vc) * 50);
    margin: auto;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    margin: calc(var(--vc) * 6) auto;
    border-radius: calc(var(--vc) * 1);
}

.prizes .title {
    color: #fff;
}

.prizes p.label {
    font-size: calc(var(--vc) * 2.2);
    width: 100%;
    text-align: center;
    color: #1B98E0;
    margin-top: calc(var(--vc) * 2);
    margin-bottom: calc(var(--vc) * 1);
}

.prizes p.desc {
    font-size: calc(var(--vc) * 1.8);
    width: 80%;
    min-width: calc(var(--vc) * 40);
    text-align: center;
    margin-bottom: calc(var(--vc) * 1);
    line-height: calc(var(--vc) * 3);
    color: #fff;
}

/*sponsors*/
.sponsors {
    background: #fff;
    padding-top: calc(var(--vc) * 6);
}

.sponsors .row {
    padding-left: 15%;
    padding-right: 15%;
    /* max-width: 150vh;
    margin: auto; */
}

.sponsors img {
    height: calc(var(--vc) * 10);
    margin: calc(var(--vc) * 3) 3%;
}

/*faqs*/
.faqs {
    background: #fff;
    padding-top: calc(var(--vc) * 2);
    padding-bottom: calc(var(--vc) * 4);
}

.faqs .row {
    padding-left: 10%;
    padding-right: 10%;
}

.faqs .row>div {
    height: auto;
    margin: calc(var(--vc) * 3) 2% calc(var(--vc) * 2);
    min-width: calc(var(--vc) * 35);
    width: 30%;
}

.faqs .label {
    font-size: calc(var(--vc) * 1.9);
    display: inline-block;
    color: #1B98E0;
    font-family: 'Metropolis';
    font-weight: 100;
    width: 100%;
    /* text-align: center; */
}

.faqs .desc {
    margin-top: calc(var(--vc) * 0.75);
    font-size: calc(var(--vc) * 1.7);
    line-height: calc(var(--vc) * 2.8);
    /* text-align: center; */
}

/*footer*/
.foot-wrap {
    position: absolute;
}