body {
    background: #fff;
}

hr {
    margin-top: 4vh;
    margin-bottom: 4vh;
}

.title {
    color: #000;
    text-align: center;
    font-size: 3vh;
    font-weight: 100;
}

/*tests*/

/*sponsors*/
.sponsors {
    margin-top: 10vh;
}

.sponsors .row {
    justify-content: center;
    padding-left: 15%;
    padding-right: 15%;
}

.sponsors img {
    height: 10vh;
    margin: 3vh 3%;
}

/*faqs*/
.faqs {
    padding-top: 2vh;
    padding-bottom: 5vh;
}

.faqs .row {
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
}

.faqs .row>div {
    height: auto;
    margin: 2vh 1%;
    min-width: 35vh;
    width: 25%;
}

.faqs .label {
    font-size: 1.8vh;
    display: inline-block;
    color: #1B98E0;
    font-family: 'Metropolis';
    font-weight: 100;
}

.faqs .desc {
    margin-top: 0.75vh;
    font-size: 1.6vh;
}

/*footer*/
.foot-wrap {
    background-color: #000;
}