@font-face {
    font-family: "Metropolis";
    src: url("fonts/Metropolis/metropolis-light-webfont.woff2") format('woff2');
    font-weight: 100;
}

html,
body {
    overflow-x: hidden;
    font-family: 'Nunito', 'Arial';
}

body {
    margin: 0 !important;
    padding: 0 !important;
    margin-block-start: 0 !important;
    margin-block-end: 0 !important;
    font-weight: 100;
}

body::-webkit-scrollbar {
    width: 1vh;
}

body::-webkit-scrollbar-thumb {
    background-color: #a3a3a3;
    border-radius: 1vh;
}

body::-webkit-scrollbar-track {
    background-color: rgb(224, 224, 224);
    border-radius: 1vh;
}

body::-webkit-scrollbar-thumb:hover {
    background: #2C363F;
}

a {
    text-decoration: none !important;
    transition: 0.3s;
}

hr {
    margin: 0;
    border-top: 0;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding: 0;
}

/*Navbar*/
nav {
    height: 5vh;
    font-size: 1.5vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    font-weight: 100;
    font-family: 'Metropolis';
    z-index: 2;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    transition: 0.3s;
}

nav .left {
    position: absolute;
    width: 50%;
    left: 0;
    top: 0;
    line-height: 5vh;
}

nav .left > div {
    position: absolute;
    right: 5vh;
}

nav .right {
    position: absolute;
    width: 50%;
    right: 0;
    top: 0;
    line-height: 5vh;
}

nav .right > div {
    position: absolute;
    left: 5vh;
}

nav a {
    color: #fff !important;
}

nav img {
    height: 4vh;
    cursor: pointer;
    z-index: 3;
    transition: 0.3s;
    top: .625vh;
    left: 0;
    right: 0;
    position: fixed;
    margin: auto;
}

nav .active {
    color: #3BB5FC;
}

nav span {
    padding-right: 4vh;
    padding-left: 4vh;
    transition: 0.3s;
}

nav .left span {
    padding-left: 1vh;
}

nav span:hover {
    color: #3BB5FC !important;
}

/*Nav Toggler*/
nav .collapse,
nav .navbar-toggler {
    display: none;
}

.navbar-toggler {
    width: 3.5vh;
    height: 5.25vh;
    position: absolute;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    right: 5%;
    top: 1.2vh;
    z-index: 1;
}

.navbar-toggler span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    padding: 0vh;
    background: #3BB5FC;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.navbar-toggler span:nth-child(1) {
    top: 0px;
}

.navbar-toggler span:nth-child(2),
.navbar-toggler span:nth-child(3) {
    top: 1vh;
}

.navbar-toggler span:nth-child(4) {
    top: 2vh;
}

.navbar-toggler.open span:nth-child(1) {
    width: 0%;
    left: 50%;
    transform: scale(0);
}

.navbar-toggler.open span:nth-child(3) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.navbar-toggler.open span:nth-child(2) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.navbar-toggler.open span:nth-child(4) {
    width: 0%;
    transform: scale(0);
    left: 50%;
}

/*Footer*/
.foot-wrap {
    width: 100%;
    position: relative;
}

footer {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    color: #fff;
    padding-top: .5vh;
    padding-bottom: .5vh;
    width: 100%;
}

footer a {
    color: #fff;
}

footer div {
    width: 100%;
    text-align: center;
    font-size: 1.5vh;
    font-family: 'Metropolis';
    margin-top: 0.8vh;
    margin-bottom: 0.8vh;
}

footer i {
    color: #fff;
    font-size: 1.8vh;
    margin-left: 1.2vh;
    margin-right: 1.2vh;
    transition: 0.3s;
}

footer .fa-facebook:hover {
    color: #0fa3f8;
}

footer .fa-instagram:hover {
    color: #7232bd;
}

footer .fa-envelope:hover {
    color: #ca0000;
}

@media only screen and (max-width: 100vh) {

    nav .left,
    nav .right {
        display: none;
    }

    nav .collapse,
    nav .navbar-toggler {
        display: unset !important;
    }

    nav .navbar-nav {
        background-color: rgba(0, 0, 0, 1);
        width: 100%;
        position: fixed;
        top: 0vh;
        left: 0;
        border-bottom-left-radius: 1vh;
        border-bottom-right-radius: 1vh;
        overflow: hidden;
        opacity: 0;
        transition: .25s ease-in-out;
        transform: translateY(calc(-100% - 10vh));
        padding-top: 5.25vh;
        padding-bottom: 1vh;
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(20px);
        display: flex;
        flex-direction: column;
    }

    nav .navbar-nav> :last-child {
        border-bottom-left-radius: 1vh;
        border-bottom-right-radius: 1vh;
    }

    nav .navbar-nav a {
        padding-top: 1.5vh;
        padding-bottom: 1.5vh;
        padding-left: 2vh;
        font-size: 1.6vh;
        transition: 0.3s;
    }
}