p {
    font-weight: normal !important;
}

@media only screen and (orientation:portrait) {
    .landing p.desc {
        width: 80%;
    }

    .title {
        font-size: 4vh;
    }

    .info .title {
        width: 100%;
        margin-bottom: 1vh;
    }

    .info div,
    .info div.long {
        min-width: 40vh;
    }

    .info p.label {
        font-size: 2.8vh;
    }

    .info p.desc {
        font-size: 1.2vh !important;
    }

    .info .long p.desc {
        font-size: .7vh !important;
        line-height: 1.4vh;
    }

    .faqs .row>div {
        min-width: 40vh;
    }

    .faqs .label {
        font-size: 2.5vh;
    }

    .faqs .desc {
        font-size: .8vh;
    }
}

@media only screen and (orientation:landscape) {
    .title {
        font-size: 5vh;
    }

    .info p.label {
        font-size: 3.5vh;
    }

    .info .row>div,
    .info .row>div.long {
        min-width: 40vh;
    }

    .info p.desc {
        min-width: 40vh;
        font-size: 2vh;
    }
}